In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [13]:
df_churn = pd.read_csv('churn_data.csv')
df_customer = pd.read_csv('customer_data.csv')
df_internet = pd.read_csv('internet_data.csv')

In [14]:
df = pd.merge(df_customer, df_churn, on='customerID')

In [15]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [16]:
df = pd.merge(df, df_internet, on='customerID')
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,...,TotalCharges,Churn,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,Female,0,Yes,No,1,No,Month-to-month,Yes,Electronic check,...,29.85,No,No phone service,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,Male,0,No,No,34,Yes,One year,No,Mailed check,...,1889.5,No,No,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,Male,0,No,No,2,Yes,Month-to-month,Yes,Mailed check,...,108.15,Yes,No,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,Male,0,No,No,45,No,One year,No,Bank transfer (automatic),...,1840.75,No,No phone service,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,Female,0,No,No,2,Yes,Month-to-month,Yes,Electronic check,...,151.65,Yes,No,Fiber optic,No,No,No,No,No,No

In [17]:
df_telecom = df.copy()
df_telecom.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,...,TotalCharges,Churn,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,Female,0,Yes,No,1,No,Month-to-month,Yes,Electronic check,...,29.85,No,No phone service,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,Male,0,No,No,34,Yes,One year,No,Mailed check,...,1889.5,No,No,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,Male,0,No,No,2,Yes,Month-to-month,Yes,Mailed check,...,108.15,Yes,No,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,Male,0,No,No,45,No,One year,No,Bank transfer (automatic),...,1840.75,No,No phone service,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,Female,0,No,No,2,Yes,Month-to-month,Yes,Electronic check,...,151.65,Yes,No,Fiber optic,No,No,No,No,No,No

In [18]:
df_telecom.select_dtypes([np.int64, np.float64])

      SeniorCitizen  tenure  MonthlyCharges
0                 0       1           29.85
1                 0      34           56.95
2                 0       2           53.85
3                 0      45           42.30
4                 0       2           70.70
5                 0       8           99.65
6                 0      22           89.10
7                 0      10           29.75
8                 0      28          104.80
9                 0      62           56.15
10                0      13           49.95
11                0      16           18.95
12                0      58          100.35
13                0      49          103.70
14                0      25          105.50
15                0      69          113.25
16                0      52           20.65
17                0      71          106.70
18                0      10           55.20
19                0      21           90.05
20                1       1           39.65
21                0      12           19.80
22                0       1           20.15
23                0      58           59.90
24                0      49           59.60
25                0      30           55.30
26                0      47           99.35
27                0       1           30.20
28                0      72           90.25
29                0      17           64.70
...             ...     ...             ...
7013              0      40           93.40
7014              0      41           89.20
7015              1      34           85.20
7016              0       1           49.95
7017              0      51           20.65
7018              0       1           70.65
7019              0      39           20.15
7020              0      12           19.20
7021              0      12           59.80
7022              0      72          104.95
7023              1      63          103.50
7024              0      44           84.80
7025              0      18           95.05
7026              0       9           44.20
7027              0      13           73.35
7028              0      68           64.10
7029              1       6           44.40
7030              0       2           20.05
7031              1      55           60.00
7032              1       1           75.75
7033              0      38           69.50
7034              0      67          102.95
7035              0      19           78.70
7036              0      12           60.65
7037              0      72           21.15
7038              0      24           84.80
7039              0      72          103.20
7040              0      11           29.60
7041              1       4           74.40
7042              0      66          105.65

[7043 rows x 3 columns]